
  <h2>My Heroes</h2>
  <aui-table [dataSource]="dataSource">
    <ng-container auiTableColumnDef="id">
      <aui-table-header-cell *auiTableHeaderCellDef>No.</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>{{ item.id }}</div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>Name</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a routerLink="/detail/{{item.id}}"> <div>{{ item.name }}</div></a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="value">
      <aui-table-header-cell *auiTableHeaderCellDef>Delete</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button  aui-button="success" title="delete hero" (click)="delete(item)">X</button>
      </aui-table-cell>
      
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="['id', 'name', 'value']; sticky: true"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: ['id', 'name', 'value'];"
    ></aui-table-row>
  </aui-table>
  
  <button aui-button="primary" (click)="open(dialog)">Add hero</button>
    <ng-template #dialog>
      <aui-dialog-header>
        <aui-icon icon="exclamation_circle_s" background="circle"></aui-icon>
        <span>
          Edit your favorite hero</span>
      </aui-dialog-header>
      <aui-dialog-content>
        <form
        #form="ngForm"
        auiForm
        auiFormLabelWidth="114px"
        auiFormLabelPosition="right"
        [auiFormInline]="false"
        [auiFormEmptyAddon]="true"
      >
        <div>
          <aui-form-item width="large">
            <label auiFormItemLabel>Edit your hero</label>
            <input 
            minlength="5"
            maxlength="13"
            aui-input auiFormItemControl name="large" [(ngModel)]="heroName" />
            
          </aui-form-item>
        
        </div>
        
      </form>
      </aui-dialog-content>
      <aui-dialog-footer>
        <button aui-button="primary" [auiDialogClose]="true" (click)="add(heroName); heroName=''" >Add hero</button>
        <button aui-button [auiDialogClose]="false">Cancel</button>
      </aui-dialog-footer>
    </ng-template>